.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.inline {
    display: inline;
    margin: 10px;
}

.status {
    font-weight: 800;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: orange;
}